<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Destination<span class="brand-mark">Wedding</span>India</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item"><a class="nav-link" data-nav-link href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link href="destinations.html">Destinations</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link href="packages.html">Packages</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link href="gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" data-nav-link href="about.html">About</a></li>
        <li class="nav-item"><a class="btn-luxury ms-lg-2" href="contact.html">Plan Wedding</a></li>
      </ul>
    </div>
  </div>
</nav>
